
PFOffice/obj/Debug/net8.0/StarterKit.dll
PFOffice/obj/Debug/net8.0/apphost.exe
PFOffice/obj/Debug/net8.0/ref/StarterKit.dll
PFOffice/obj/Debug/net8.0/refint/StarterKit.dll
PFOffice/obj/Debug/net8.0/apphost.exe
