.access ul {
    list-style-type: none;
  }
  
  #accessibility-button img {
    width: 50px;
    height: 50px;
  }
  
  .high-contrast {
    color: #f00;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
  
  .grey-hues {
    filter: grayscale(100%);
  }
  
  .colorblind {
    width: 30%;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: -30px;
  }
  
  .colorchange {
    width: 100%;
    height: 40%;
    align-items: center;
  }
  
  body.colorblind-mode {
    background-color: #DDCC77;
  }
  
  body.large-text {
    font-size: 20px;
  }

  .black-white-mode {
    background-color: #000000; /* Zwarte achtergrond */
    color: #ffffff; /* Witte tekst */
  }
  
  .black-white-mode a {
    color: #00ffff; /* Optionele kleur voor links in wit */
  }
  
  .black-white-mode button {
    background-color: #222222; /* Donkergrijs voor knoppen */
    color: #ffffff;
    border: 1px solid #ffffff; /* Witte rand voor contrast */
  }
  
  .black-white-mode h1, 
  .black-white-mode h2, 
  .black-white-mode h3 {
    color: #ffffff; /* Witte kleur voor koppen */
  }