.add-event-form {
    margin-top: 30px; 
}

.bold-label {
    font-weight: bold;
}

.text-right {
  text-align:  left;

  margin-bottom: 20px;
}

.btn-primary {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-secondary {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 4px;
    font-size: 12px;
  }

  /* Default light mode styles */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}


/*///////////////////////////////////////////////


/* Dark mode styles */
body.dark-mode {
  background-color: black;
  color: white;
}

/* Button styles */
button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  opacity: 0.8;
}

.theme-selector {
  margin: 20px 0;
  text-align: center;
}
